<%= render 'shared/error_messages', :object => object %>
<% start_year = 1960; end_year = 2015 %>
<% if @default_start_year then start_year = @default_start_year end %>
<% if @default_end_year then end_year = @default_end_year end %>
<%= form_for :period_type_spec, url: { action: "create" } do |f| %>
  <div class="field">
    <%= f.label :period_type_id, "period type" %><br/>
    <%= f.select :period_type_id, @period_type_id_for %><br/>
  </div>
  <div class="field">
    <%= f.label :category, "category" %><br/>
    <%= f.select :category, @categories %><br/>
  </div>
  <div class="field">
    <%= f.label :start_date, "start date" %><br/>
    <%= f.datetime_select :start_date,
      :start_year => start_year, :end_year => end_year %><br/>
  </div>
  <div class="field">
    <%= f.label :end_date, "end date" %><br/>
    <%= f.datetime_select :end_date, :include_blank => true,
      :start_year => start_year, :end_year => end_year %><br/>
  </div>
  <div class="actions">
    <%= f.submit @submit_msg %>
  </div>
<% end %>
