<tr>
  <td class='ptype_specs ptype_col1'>
    <span class="per_type"><%= period_type_spec.period_type_name %></span>
  </td>
  <td class='ptype_specs ptype_midcol'>
    <span class="date">
      <%= period_type_spec.start_date.strftime("%Y-%m-%d %H:%M") %>
    </span>
  </td>
  <td class='ptype_specs ptype_midcol'>
    <span class="date">
      <% if period_type_spec.end_date.nil? %>
        now
      <% else %>
        <%= period_type_spec.end_date.strftime("%Y-%m-%d %H:%M") %>
      <% end %>
    </span>
  </td>
  <td class='ptype_specs ptype_endcol'>
    <span class="edit">
      <%= link_to 'edit', edit_period_type_spec_path(period_type_spec.id),
        :title => period_type_spec.period_type_name %> /
      <%= link_to 'delete', period_type_spec,
        :method => :delete, :title => period_type_spec.period_type_name %>
    </span>
  </td>
</tr>
