<h1><%= @title %></h1>
<% @submit_msg = 'Submit' %>
<%= render 'shared/error_messages', :object => @period_type_spec %>
<% start_year = period_type_start_year; end_year = period_type_end_year %>
<%= form_for @period_type_spec do |f| %>
  <div class="field">
    <%= f.label :period_type_id, "period type" %><br/>
    <%= f.select :period_type_id, @period_type_id_for %><br/>
  </div>
  <div class="field">
    <%= f.label :start_date, "start date" %><br/>
    <%= f.date_select :effective_start_date,
      :start_year => start_year, :end_year => end_year %><br/>
  </div>
  <div class="field">
    <%= f.label :end_date, "end date" %><br/>
    <%= f.date_select :effective_end_date, :include_blank => true,
      :start_year => start_year, :end_year => end_year %><br/>
  </div>
  <div class="actions">
    <%= f.submit @submit_msg %>
  </div>
<% end %>
