<%= render 'shared/error_messages', :object => object %>
<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :email_addr, "Email address" %><br/>
    <%= f.text_field :email_addr %><br/>
  </div>
  <div class="field">
    <%= f.label :password %><br/><%= f.password_field :password %><br/>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirm password" %><br/>
    <%= f.password_field :password_confirmation %><br/>
  </div>
  <div class="actions">
    <%= f.submit @submit_msg %>
  </div>
<% end %>
