<%= will_paginate %>
<table class="round users" summary="User list">
  <tr>
    <th class="users">
      <%= "#{@users.count} users" %>
    </th>
    <% @users.each do |u| %>
      <!--<tr class="sidebar round">-->
    <tr>
      <td class="users"><%= u.email_addr[/[^@]+/] %></td>
      <td class="users"><%= link_to u.email_addr, u %></td>
      <% if current_user.admin? %>
        <td class="users">
        <%= link_to 'delete', u, :method => :delete,
          :confirm => "Confirm delete of #{u.email_addr}",
          :title => "Delete #{u.email_addr}" %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tr>
</table>
<%= will_paginate %>
