<table class="settings" summary="Settings information">
  <tr>
    <td class="main">
      <h3>Period-type configuration
        <span class="per_type">&nbsp;&nbsp;&lt;
          <%= link_to "Create new", new_period_type_spec_path %>&gt;
        </span>
      </h3>
      <% if @user.period_type_specs.any? %>
        <table class="ptype_specs">
          <tr>
            <th style="width:100%">For analysis</th>
          </tr>
          <tr>
            <th class='ptype_specs ptype_col1'>
              <span class="per_type">period</span>
            </th>
            <th class='ptype_specs ptype_midcol'>
              <span class="date">start date</span>
            </th>
            <th class='ptype_specs ptype_midcol'>
              <span class="date">end date</span>
            </th>
            <th class='ptype_specs ptype_endcol'>
              <span class="date">change</span>
            </th>
          </tr>
          <%= render @user.analysis_specs %>
          <tr>
            <th style="width:100%; margin-top: 3%">For charting</th>
          </tr>
          <tr>
            <th class='ptype_specs ptype_col1'>
              <span class="per_type">period</span>
            </th>
            <th class='ptype_specs ptype_midcol'>
              <span class="date">start date</span>
            </th>
            <th class='ptype_specs ptype_midcol'>
              <span class="date">end date</span>
            </th>
            <th class='ptype_specs ptype_endcol'>
              <span class="date">change</span>
            </th>
          </tr>
          <%= render @user.charting_specs %>
        </table>
      <% end %>
      <h3>
        <span class="param">
          <%= link_to "Indicator parameters [WIP]", new_period_type_spec_path %>
        </span>
      </h3>
    </td>
    <td class="sidebar round">
      <strong><%= t('email-address') %>:</strong><br/>
          <%= @user.email_addr %><br/>
      <strong>URL: </strong><%= link_to user_path(@user), @user %><br/>
      <strong>Period-type specs: </strong><%= @user.period_type_specs.count %>
    </td>
  </tr>
</table>
