<% symbols = symbol_list; ptspec = period_type_spec_for(@period_type) %>
<% start_date = ptspec.effective_start_date %>
<% end_date = ptspec.effective_end_date %>
<% start_year = period_type_start_year; end_year = period_type_end_year %>
<div class="chart-form1">
<%= form_for :tradable, url: charts_index_path do |f| %>
  <%= select_tag('symbol', options_from_collection_for_select(symbols,
                 :to_s, :to_s, @symbol))
  %>
  <%= select_tag('period_type', options_from_collection_for_select(
        period_types, :to_s, :to_s, @period_type))
  %>
  <%= f.submit 'Go' %>
  <%= f.label :start_date, "start:" %>
  <%= select_date(start_date, start_year: start_year,
        end_year: end_year, prefix: 'startdate', use_short_month: true)
  %>
  <%= f.label :end_date, "end:" %>
  <%= select_date(end_date, start_year: start_year,
        end_year: end_year, include_blank: true, prefix: 'enddate',
        use_short_month: true)
  %>&nbsp;&nbsp;
  <%= f.submit 'Go' %>
<% end %>
</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<%= javascript_include_tag "charts" %>
<h1>
  <%= "'#{@name}'" %>
  <%= if ! @symbol.nil? then "(#{@symbol})" end %>
</h1>
<!--
<div id="chart_div" style="width: 1000px; height: 500px;"></div>
<div id="chart_div" style="width: 100%; height: 100%;"></div>
<div id="chart_div" style="width 100%"></div>
<div id="chart_div" style="width: 750px; height: 500px;"></div>
-->
<div id="chart_div" style=""></div>
