<!--
!!!!!REMINDER: symbols and period_types should be stored in the mas_session
!!!!!so that they don't have to be retrieved from the MAS server each time.
-->
<% symbols = symbol_list %>
<div class="chart-form">
<%= form_for :tradable, url: charts_index_path do |f| %>
  <%= select_tag('symbol',
                 options_from_collection_for_select(symbols,
                   :to_s, :to_s, @symbol))
  %>
  <%= select_tag('period_type', options_from_collection_for_select(
        period_types, :to_s, :to_s, @period_type))
  %>
<%= f.submit 'View chart' %>
<% end %>
</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<%= javascript_include_tag "charts" %>
<h1>
  <%= "'#{@name}'" %>
  <%= if ! @symbol.nil? then "(#{@symbol})" end %>
</h1>
<!--
<div id="chart_div" style="width: 1000px; height: 500px;"></div>
<div id="chart_div" style="width: 100%; height: 100%;"></div>
<div id="chart_div" style="width 100%"></div>
<div id="chart_div" style="width: 750px; height: 500px;"></div>
-->
<div id="chart_div" style=""></div>
