<% if signed_in? %>
  <% if current_user.nil? %>
      <h1>not signed in</h1>
  <% else %>
      <h1>
        <%= link_to "#{current_user.period_type_specs.count} period-type specs",
          user_path(current_user)%>
      </h1>
      <p>
      <%= form_for :tradable, url: charts_index_path do |f| %>
        <%= select_tag('symbol',
                       options_from_collection_for_select(symbol_list,
                                                          :to_s, :to_s)) %>
        <%= select_tag('period_type', options_from_collection_for_select(
                        period_types, :to_s, :to_s)) %>
      <%= f.submit 'View chart' %>
      <% end %>
      </p>

      <h1>
        <%= link_to "#{@analyzers.count} signal types",
          user_path(current_user)%>
      </h1>
      <p>
      <%= form_for :analyzer, url: tradable_analyzers_index_path do |f| %>
        <%= select_tag('symbols',
                       options_from_collection_for_select(symbol_list,
                         :to_s, :to_s), multiple: true, size: 30) %>
        <%= select_tag('analyzers', options_from_collection_for_select(
                       @analyzers.keys {|name| name}, :to_s, :to_s),
                       multiple: true, size: 30) %>
        <%= f.label :start_date, "start:" %>
        <%= select_date(@ana_startdate, prefix: 'startdate',
                        use_short_month: true) %>
        <%= f.label :end_date, "end:" %>
        <%= select_date(@ana_enddate, prefix: 'enddate',
                        use_short_month: true) %>
      <%= f.submit 'Run analysis' %>
      <% end %>
      </p>

  <% end %>
  <p><%= @motd.message %></p>
<% else %>
  <h1><%= @appname %></h1>
  <p><%= @motd.message %></p>
  <%= link_to "Create new login", signup_path,
    :class => "signup_button round" %>
<% end %>
