<% if signed_in? %>
  <% if current_user.nil? %>
      <h1>not signed in</h1>
  <% else %>
    <% if current_user.period_type_specs.count == 0 %>
      <h1>No period-type specs</h1>
    <% else %>
      <h1>
        <%= link_to "#{current_user.period_type_specs.count} period-type specs",
          user_path(current_user)%>
      </h1>
      <p>
      <%= form_for :tradable, url: charts_index_path do |f| %>
        <%= select_tag('symbol',
                       options_from_collection_for_select(@mas_client.symbols,
                                                          :to_s, :to_s)) %>
        <%= select_tag('period_type', options_from_collection_for_select(
                        @mas_client.period_types, :to_s, :to_s)) %>
      <%= f.submit 'View chart' %>
      <% end %>
      </p>
    <% end %>
  <% end %>
  <p><%= @motd.message %></p>
<% else %>
  <h1><%= @appname %></h1>
  <p><%= @motd.message %></p>
  <%= link_to "Create new login", signup_path,
    :class => "signup_button round" %>
<% end %>
