<!DOCTYPE html>
<html>
<head>
  <title>TradableAnalysisToolset</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>MOTD test</h1>
<p><%= @msg %></p>
<%= yield %>

</body>
</html>
