<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= include_gon %>
  <%= csrf_meta_tags %>
  <%= render "layouts/stylesheets" %>
</head>
<body>
<div class="container" id="<%= params[:controller].parameterize %>">
  <%= render "layouts/header" %>
  <section class="round" id="<%= params[:controller].parameterize %>">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </section>
  <%= render "layouts/footer" %>
  <% if Rails.env.development? %>
    <%= debug(params) %>
    <%= if ! flash.empty? then debug(flash) end %>
    <%= if ! @user.nil? then debug(@user) end %>
    <%= if ! current_user.nil? then debug(current_user) end %>
    <%= if ! @period_type.nil? then debug(@period_type) end %>
    <%= r = request; debug ([r.method, r.fullpath, r.remote_ip]) %>
  <% end %>
</div>
</body>
</html>
